<form #f="ngForm">
    <header class='navigation-bar'>
        <span class='font-600 letter-spacing-1 text-light-gray'>
            {{(_context === 'add') ? 'Dodaj użytkownika' : 'Edytuj użytkownika'}}
        </span>
        <span class='navigation-bar-agg'>
          <a routerLink='/app/panel'>Panel</a>
          <span class='next-link'>></span>
          <a [routerLink]="['/app/users-list']">Lista użytkowników</a>
          <span class='next-link'>></span>
          <a>{{(_context === 'add') ? 'Dodaj użytkownika' : 'Edytuj użytkownika'}}</a>
          <button type='submit' class='button' (click)='submitUser()'>Zapisz</button>
        </span>
    </header>
    <div class='add-user-container'>
      <section>
        <div class='label text-light-gray font-600 letter-spacing-1 form-header'>Szczegóły użytkownika</div>
        <div class='add-user-form'>
            <label>Adres email</label>
            <validated-input name="Email" type="email" [name]="'email'" [placeholder]="'Adres email'" [(ngModel)]="_userForm.email"></validated-input>
            <label>Imię</label>
            <validated-input name="Imię" [name]="'firstname'" [placeholder]="'Imię'" [(ngModel)]="_userForm.firstname"></validated-input>
            <label>Nazwisko</label>
            <validated-input name="Nazwisko" [name]="'lastname'" [placeholder]="'Nazwisko'" [(ngModel)]="_userForm.lastname"></validated-input>
            <ng-container *ngIf="_context === 'add'">
            <label>Hasło</label>
            <validated-input name="Hasło" type="password" [name]="'password'" [placeholder]="'Hasło'" [(ngModel)]="_userForm.password"></validated-input>
            </ng-container>
            <ng-container *ngIf="_context === 'edit'">
            <label>Utworzony</label>
            <div class='mock-input text-light'>{{_userForm.created | timestamptodate}}</div>
            <label>Ostatnie logowanie</label>
            <div class='mock-input text-light'>{{_userForm.lastLogin | timestamptodate}}</div>
            </ng-container>
            <label>Rola</label>
            <validated-select [name]="'role'" [options]=" _rolesOptions" [(ngModel)]='_userForm.role'></validated-select>
        </div>
      </section>
    </div>
    </form>