.add-user-container {
    padding: 30px;
    width: calc(100% - 60px);
    display: grid;
    grid-template-rows: 450px auto;
    height: 550px;
    overflow: auto;
}

section {
    padding: 10px;
}

.add-user-form {
    margin-top: 20px;
    width: calc(100% - 100px);
    padding: 50px;
    background-color: #ffffff;
}

.add-user-form label {
    font-weight: 600;
    display: block;
    color: #82899A;
}

.mock-input{
    width: calc(100% - 40px);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #EDF0F5;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(241, 241, 241);
}