.validated-input {
    margin-bottom: 20px;
    height: 50px;
}

input {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: #82899A;
    font-weight: 600;
    border: 1px solid #EDF0F5;
}

input::-webkit-input-placeholder{
    color: #EDEDF1;
}

input:-moz-input-placeholder{
    color: #EDEDF1;
}

input::-ms-input-placeholder{
    color: #EDEDF1;
}

input:hover {
    background-color: #F8F9FB;
}

input:focus {
    border-radius: 5px;
    border: 1px solid #55ACEF;
}

.input-error {
    border: 1px solid #FA6A5D;
}

.error {
    display: block;
    color: #FA6A5D;
    font-weight: 600;
}