<div class='validated-input'>
    <input placeholder="{{placeholder}}" type="{{type}}" [(ngModel)]='value' (change)='writeValue(value)' (focus)='onFocus()' (blur)='onBlur()' [ngClass]="(error) ? 'input-error' : ''">
    <span [ngClass]="[(error) ? 'error' : '']">{{error}}</span>
</div>