.root-container {
  width: 100%;
  height: 100%;
  position: fixed;
}

.root-content {
  width: calc(100vw - 200px);
  position: absolute;
  top: 60px;
  left: 200px;
}

.side-bar {
  position: absolute;
  top: 60px;
  left: 0;
  width: 200px;
  min-height: 204px;
  height: calc(100% - 60px);
  background-color: #4F5F6F;
}

.side-bar-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 60px;
  color: #B5BAC0;
  background-color: #384655;
  transition: all 200ms ease;
}

.side-bar-header-title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.side-bar-header-title img {
  width: 40px;
  height: 40px;
}

.side-bar-header-icon {
  display: none;
}

.root-container header {
  position: absolute;
  top: 0;
  left: 200px;
  width: calc(100% - 210px);
  height: 60px;
  box-sizing: border-box;
  background-color: #D7DDE4;
  color: #B5BAC0;
}

.side-bar-header:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  background-color: #A8D5F6;
  color: #ffffff;
}

.side-bar ul {
  color: #B5BAC0;
  font-weight: 600;
  font-size: 12px;
}

.side-bar ul li {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 100ms ease;
}

.side-bar ul li:hover {
  color: #d0d0d0;
  stroke: #d0d0d0;
  fill: #d0d0d0;
  background-color: #40505F;
}

.side-bar ul li img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.side-bar ul li span {
  padding-top: 5px;
}

.search-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 100 !important;
}

.search-box-wrapper {
  flex: 0.7 1000px;
}

.log-out { flex: 0.3 auto; display: flex; justify-content: center; align-items: center; }

.log-out-icon { fill: #fff; cursor: pointer; }
.log-out-icon:hover { fill: rgb(72, 149, 204); }

.selected {
  color: #ffffff;
  background-color: rgba(89, 194, 230, 1);
}

.selected-svg {
  fill: #ffffff;
}

.svg {
  fill: #B5BAC0;
}

svg {
  padding: 0px 20px;
}

.log-info {color: #ffffff;}

.log-info span {font-weight: 500; display: block; font-size: 14px;}