@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600i,700');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~nouislider/distribute/nouislider.min.css";

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  font-weight: 300;
}

b {
  font-weight: 600;
}

.header-color {
  background-color: #F8F9FB;
}

.header-color-white {
  background-color: #ffffff;
}

.background-color {
  background-color: #EDF0F5;
}

.text-light {
  color: rgb(216, 216, 216);
}

.text-gray {
  color: #707175;
}

.text-light-gray {
  color: #82899A;
}

.text-title {
  color: #727271;
}

.text-subtitle {
  color: #B2B3B3;
}

.text-error {
  color: #FC517E !important;
}

.font-size-10 { font-size: 10px; }

.font-size-12 { font-size: 12px; }

.font-size-14 { font-size: 14px; }

.font-size-16 { font-size: 16px; }

.font-size-18 { font-size: 18px; }

.font-size-20 { font-size: 20px; }

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-size-11 {
  font-size: 11px;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

a {
  color: #55ACEF;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.navigation-bar {
  width: calc(100% - 70px);
  padding-left: 20px;
  padding-right: 40px;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e4e8
}

.navigation-bar-agg {
  display: flex;
  align-items: center;
}

.navigation-bar-agg button {
  margin: 0px 20px;
}

.box-container {
  width: 100%;
}

.box-container .label {
  padding-bottom: 10px;
}

.table-container {
  width: calc(100% - 60px);
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

table {
  margin-top: 10px;
  font-size: 1.3em;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #82899A;
  border-collapse: collapse;
}

table th {
  padding: 10px 30px;
  background-color: #ffffff;
  text-align: center;
}

table td {
  text-align: center;
  height: 30px;
  padding: 10px 10px;
  border: 1px solid #EDF0F5;
}

table tr {
  background-color: #ffffff;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: #F8F9FB;
}

table tr:hover {
  background-color: #F5F5F5;
}

.spacer-20 {
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  outline: none;
  user-select: none;
  background-color: #75B9F1;
  font-weight: 600;
  font-size: 12px;
  color: white;
  transition: all 200ms ease-out;
}

.button:hover {
  background-color: rgb(72, 149, 204);
}

.button:active {
  box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
}

.margin-top-10{
  margin-top: 10px;
}

.icon-active { background-color: #91e652 }

.icon-inactive { background-color: #FA6A5D }

.activity-icon {
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.activity-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #55ACEF;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.link-button {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0px;
  color: rgb(77, 156, 216);
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid rgba(27,31,35,0.2);
  word-wrap: break-word;
  font-weight: 600;
  border-radius: 0.25em;
}

.link-button:hover {
  text-decoration: none;
  background: rgb(77, 156, 216);
  color: #fff;
}

.link-button:active {
  box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
}

[data-tooltip] {
  position: relative;
  z-index: 250 !important;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  z-index: 250 !important;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -120px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  z-index: 150 !important;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}