<div class='validated-select'>
  <select [(ngModel)]='value' name='select' [ngClass]="(error) ? 'select-error' : ''" (focus)='onFocus()' [disabled]='disabled'>
      <ng-container *ngFor='let option of options'>
        <option value={{option.value}}>{{option.label}}</option>
      </ng-container>
  </select>
  <span *ngIf='error' class='error'>{{error}}</span>
</div>