.validated-select {
    margin-bottom: 20px;
    height: 50px;
}

select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #EDF0F5;
    border-radius: 5px;
    color: #82899A; 
    margin-top: 10px;
}

select[disabled] {
    background: rgb(235, 235, 235);
    color: #82899A;
}

select option {
    color: #82899A;
    padding: 10px;
}

select option[default] {display: none;}

.select-error {
    border: 1px solid #FA6A5D;
}

.error {
    color: #FA6A5D;
    font-weight: 600;
    display: block;
}