<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Panel
    </span>
    <span class='navigation-bar-agg'>
      <a routerLink='/app/panel'>Panel</a>
    </span>
</header>

<div class='chart-placeholder' *ngIf='!_sensor && _ready === true'>
    <div class='wrapper'><img src='/assets/not-found.svg' width="80px"></div>
    <div class='wrapper'>Nie wybrano sensora</div>
    <div class='wrapper'><a href='/app/sensors-list' class='link-button'>Przejdź do listy czujników</a></div>
</div>

<div class='panel-container'>
  <section *ngIf='_sensor && _ready === true'>
    <div class='chart-info'>
      <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Statystyki</div>
      <div class='chart-content'>
        <div class='chart-details'>
          <div>{{_sensor.name}}<br><span>{{_sensor.localization}}</span></div>
          <div class='button-wrapper'><a href='/app/sensors-list/manage/edit?_id={{_sensor._id}}' class='link-button'
            *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT' || _role==='ROLE_TECH'">Edytuj czujnik</a></div>
        </div>
        <div class='chart-wrapper'><google-chart [data]='_data' #chart></google-chart></div>
      </div>
    </div>
  </section>

  <!-- Chart section loading placeholder -->
  <section *ngIf='!_ready'>
    <div class='loading-placeholder'>
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
    </div>
  </section>

  <!-- Notification section loading placeholder -->
  <section *ngIf='!_ready'>
    <div class='loading-placeholder'>
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </section>

  <!-- Data section loading placeholder -->
  <section *ngIf='!_ready'>
    <div class='loading-placeholder'>
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </section>

  <!-- Data section loading placeholder -->
  <section *ngIf='!_ready'>
    <div class='loading-placeholder'>
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </section>

  <section *ngIf='_sensor && _ready === true'>
    <div class='notification-container' *ngIf='_activeAlerts'>
      <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Powiadomienia ({{_activeAlerts.length}})</div>
      <div class='content'>
        <div class='notification-placeholder' *ngIf='!_activeAlerts || _activeAlerts.length === 0'>
          <div class='notification-content'>
            <img src='/assets/notification_empty.svg' width="40px">
            Brak nowych powiadomień
            <a href='/app/alerts-list' class='link-button'>Przejdź do historii alertów</a>
          </div>
        </div>
        <ul class='notification-list' *ngIf='_activeAlerts.length > 0'>
          <li *ngFor="let alert of _activeAlerts" data-tooltip="Kliknij żeby odwołać" (click)='cancelAlert(alert._id)'>
            <div class='type-wrapper'><img src="/assets/envelope.svg"></div>
            <div class='notification-details-wrapper'>
              <span class='font-size-14 text-title font-600'>Nowe powiadomienie</span>
              <span class='font-size-12 text-error font-600'>
                Przekroczono wartość progową {{alert.threshold}} {{(_sensor.type === 'temperature') ? '[\u1d52C]' : '[%]'}}
              </span>
              <div class='font-size-12 text-subtitle font-600'>
                <ng-container *ngIf='(_now - alert.date < 60000)'>Poniżej minuty temu</ng-container>
                <ng-container *ngIf='(_now - alert.date) > 60000 && (_now - alert.date < 60000 * 60)'>Poniżej godziny temu</ng-container>
                <ng-container *ngIf='(_now - alert.date > 60000 * 60) && (_now - alert.date < 60000 * 60 * 24)'>Kilka godzin temu</ng-container>
                <ng-container *ngIf='_now - alert.date > 60000 * 60 * 24'>{{alert.date | timestamptodate}}</ng-container>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section *ngIf='_sensor && _ready === true'>
    <div class='data-container'>
      <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Dane</div>
      <div class='data-content'>
        <table class='table' *ngIf='_sensor'>
          <tr>
            <th>Data</th>
            <th>
              {{_sensor.typeLabel}}
            </th>
          </tr>
          <tr *ngFor="let data of _sensor.data">
            <td>{{data.date | timestamptodate}}</td>
            <td>{{data.value}}</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section *ngIf='_sensor && _ready === true'>
    <div class='alerts-container'>
      <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Zdefiniowane alerty</div>
      <div class='content'>
          <div class='notification-placeholder' *ngIf='!_sensor.alerts || _sensor.alerts.length === 0'>
            <div class='notification-content'>
              <img src='/assets/empty-box.svg' width="80px">
                Brak zdefiniowaych alertów
              <a href='/app/sensors-list/manage/edit?_id={{_sensor._id}}' class='link-button' 
              *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT' || _role==='ROLE_TECH'">Dodaj alert</a>
            </div>
          </div>
          <div class='alerts-list'>
            <ul>
              <li *ngFor="let alert of _sensor.alerts">
                <div class='tile-part w-60'>
                  <span class='font-600 font-size-18 text-title'>
                  {{alert.name}}
                  </span>
                  <span class='font-300 font-size-12 text-subtitle'>
                    {{(alert.alert_type === 'email') ? 'Powiadomienie mailowe' : ''}}
                    {{(alert.alert_type === 'sms') ? 'Powiadomienie SMS' : ''}}
                    {{(alert.alert_type !== 'email' && alert.type !== 'sms') ? 'Typ powiadomienia niezdefiniowany' : ''}}
                  </span>
                </div>
                <div class='tile-part end'>
                  <div class='center' data-tooltip="Alert aktywny!">
                    <img src="/assets/check-mark.svg" *ngIf="alert.active === true">
                  </div>
                  <div class='center' data-tooltip="Alert nieaktywny z powodu nieodwołanego powiadomienia">
                    <img src="/assets/error.svg" *ngIf="alert.active === false">
                  </div>
                  <span class='font-300 font-size-12 text-subtitle'>
                    Wart. prog. <b class='text-title'>{{alert.threshold}} {{_sensor.typeLabel}}</b>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </section>
</div>