.panel-container {
    padding: 30px 0px 0px 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 65% auto;
    max-height: 600px;
    overflow: auto;
}

.chart-wrapper {
    width: 100%;
    max-width: 835px;
    background: #ffffff;
}

.chart-placeholder {
    width: calc(100% - 80px);
    height: 450px;
    margin: 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chart-placeholder img {
    width: 50px;
    height: 50px;
}

.chart-placeholder .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0px;
}

.chart-content {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.chart-details {
    background: #fff;
    padding: 20px 0px 0px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #82899A;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

.chart-details .button-wrapper {
    padding-right: 40px;
}

.chart-details span {
    font-size: 12px;
    font-weight: 300;
}

.chart-label {
    padding-bottom: 10px;
}

.notification-container {
    padding: 0px 20px;    
}

.notification-container .content {
    width: 100%;
    height: 365px;
    background: #ffffff;
    overflow: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.notification-placeholder {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    color: #DBE1E8;
    font-weight: 600;
    height: 365px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.notification-placeholder img {
    padding: 10px 0px;
    margin: auto;
    display: block;
}

.notification-placeholder a {
    margin: 10px 0px;
}

.notification-list {padding: 10px;}

.notification-list li {  
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    cursor: pointer;
    transition: 200ms all ease;
    border-bottom: 1px solid #D9DADA;
}

.notification-list li:hover{
    background-color: #F8F8F8;
}

.notification-list li .type-wrapper {  
    height: 80%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-right: 1px solid #D9DADA;
}

.notification-details-wrapper span {display: block; width: 100%;}

.notification-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.notification-list li .type-wrapper img {width: 20px;}

.data-container {
    padding: 20px 0px;
}

.data-content {
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    max-height: 365px;
    overflow-x: hidden;
    overflow-y: auto;
}

.alerts-container {
    margin-top: 20px;
    padding: 0px 20px;
}

.alerts-container .content {
    width: 100%;
    max-height: 565px;
    overflow-y: auto;
    overflow-x: hidden;
}

.alerts-list {
}

.alerts-list ul {
    width: calc(100% - 20px);
    padding: 10px;
}

.alerts-list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.alerts-list li .tile-part {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}

.alerts-list li .tile-part img {
    width: 20px;
    height: 20px;
}

.w-60 {
    width: 50%;
}

.end {
    justify-content: flex-end;
}

.center {
    margin: auto;
}

.alerts-list li .tile-part span {
    display: block;
}

.loading-placeholder {
    background: #f9f9f9;
    height: 365px;
    width: calc(100% - 60px);
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    margin-bottom: 20px;
}