<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Lista czujników
    </span>
    <span>
      <a routerLink='/app/panel'>Panel</a>
      <span class='next-link'>></span>
      <a routerLink='/app/sensors-list'>Lista czujników</a>
    </span>
  </header>
<div class='sensor-list-container'>
  <div class='box-container'>
    <div class='label text-light-gray font-600 letter-spacing-1'>Urządzenia</div>
      <div class='table-container'>
        <button class='button' [routerLink]="['/app/sensors-list/manage', 'add']" 
        *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT' || _role==='ROLE_TECH'">Dodaj sensor</button>
        <div class='sensor-list'>
        <table>
          <tr>
            <th>ID</th>
            <th>Numer seryjny</th>
            <th>Nazwa</th>
            <th>Lokalizacja</th>
            <th>Ostatnia aktualizacja</th>
            <th>Typ</th>
            <th>Aktywny</th>
            <th *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT' || _role==='ROLE_TECH'">Zarządzaj</th>
          </tr>
          <ng-container *ngIf="_sensors">
          <tr *ngFor="let sensor of _sensors.data">
            <td (click)='showSensorDetails(sensor)'>{{sensor._id}}</td>
            <td (click)='showSensorDetails(sensor)'>{{(sensor.serial_number) ? sensor.serial_number : '-'}}</td>
            <td (click)='showSensorDetails(sensor)'>{{sensor.name}}</td>
            <td (click)='showSensorDetails(sensor)'>{{sensor.localization}}</td>
            <td (click)='showSensorDetails(sensor)'>{{sensor.lastmodified | timestamptodate}}</td>
            <td (click)='showSensorDetails(sensor)'>{{sensor.type | sensortypename}}</td>
            <td><div class='activity-wrapper'><div [ngClass]="[(sensor.active === true) ? 'icon-active' : 'icon-inactive', 'activity-icon']"></div></div></td>
            <td *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT' || _role==='ROLE_TECH'">
              <a (click)='editSensor(sensor._id)'>Edytuj</a>
              <a (click)='toggleActivateSensor(sensor._id)' class='padding-link'>
                <ng-container *ngIf='sensor.active === true'>Deaktywuj</ng-container>
                <ng-container *ngIf='sensor.active === false'>Aktywuj</ng-container>
              </a>
            </td>
          </tr>
          </ng-container>
          <ng-container *ngIf="!_sensors">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-container>
        </table>
        </div>
      </div>
    </div>
</div>
