.sensor-list-container {
  width: calc(100% - 60px);
  height: 100%;
  max-height: 500px;
  padding: 30px;
}

.sensor-list {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-title {
  font-size: 2.5em;
  padding-left: 40px;
}

.padding-link {
  padding: 0px 10px;
}
