<div [ngClass]="[(_focus === true) ? 'focused' : '', 'search-box']">
  <input placeholder="Wyszukaj" [formControl]='searchPhrase' (focus)='_focus=true' (blur)='blur()'>
  <div class='results-container' *ngIf='_results && _focus'>
    <ng-container *ngFor='let sensor of _results'>
      <div class='tile font-size-11 text-light-gray letter-spacing-1 fade-in' (click)='openSensorInPanel(sensor._id)'>
        <div class='tile-part title'>{{sensor.name}}</div>
        <div class='tile-part details'>
          <b>ID:</b>{{sensor._id}}
          <b>Lokalizacja:</b><span>{{sensor.localization}}</span>
          <b>Typ:</b><span>{{sensor.type}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>