.search-box {   
    width: inherit;
    border: none;
    transition: all 300ms ease;
    box-sizing: content-box;
    border-right: 2px solid #EDF0F5;   
}

.focused { 
    border: 1px solid #55ACEF;
}

.search-box input {
    width: calc(100% - 40px);
    height: 38px;
    padding: 10px 20px;
    box-sizing: content-box;
    border: none;
    outline: none;
    color: #7E8E9F;
    letter-spacing: 1px;
    font-size: 11px;
    background-color: #D7DDE4;
    transition: background-color 300ms ease;
}

.search-box input:focus {
    background-color: #F0F3F6;
}

.search-box input::-webkit-input-placeholder {
    color: #7E8E9F;
}

.search-box input:-moz-placeholder {
    color: #7E8E9F;
}

.results-container {
    width: 100%;
}

.results-container .tile {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    cursor: pointer;
}

.title {
    font-size: 14px;
    font-weight: 600;
}

.results-container .tile-part {
    width: 100%;
    padding: 0px 20px;
}

.results-container .tile:hover {
    color: #55ACEF;
}

.results-container .tile-part span {
    padding: 0px 10px;
}

.fade-in {
    animation: fade-in 400ms ease;
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}