<form #f="ngForm">
<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        {{_navigationbarTitle}}
    </span>
    <span class='navigation-bar-agg'>
      <a routerLink='/app/panel'>Panel</a>
      <span class='next-link'>></span>
      <a [routerLink]="['/app/sensors-list']">Lista czujników</a>
      <span class='next-link'>></span>
      <a>{{_navigationbarTitle}}</a>
      <button type='submit' class='button' (click)='submitSensor()'>Zapisz</button>
      <button type='submit' class='button delete' (click)='removeSensor()' *ngIf="_context==='edit' && (_role==='ROLE_ADMIN' || _role==='ROLE_ROOT' )">Usuń</button>
    </span>
</header>
<div class='add-sensor-container'>
  <section>
    <div id="dest" class='label text-light-gray font-600 letter-spacing-1 form-header'>Szczegóły czujnika</div>
    <div class='add-sensor-form'>
        <label>Nazwa czujnika</label>
        <validated-input name="Nazwa" [name]="'name'" [placeholder]="'Nazwa'" [(ngModel)]="_sensorForm.name"></validated-input>
        <label>Typ czujnika</label>
        <validated-select [name]="'type'" [options]="_sensorType" [(ngModel)]='_sensorForm.type'></validated-select>
        <label>Lokalizacja czujnika</label>
        <validated-input name="lokalizacja" [name]="'localization'" [placeholder]="'Lokalizacja'" [(ngModel)]="_sensorForm.localization"></validated-input>
        <label>Aktywny</label>
        <input class='margin-top-10' type="checkbox" [(ngModel)]='_sensorForm.active' name='active'>
    </div>
  </section>
  <section>
      <div class='label text-light-gray font-600 letter-spacing-1'>Zdefiniuj alerty</div>
      <div class='add-sensor-form'>
        <table>
          <tr>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Wartość progowa</th>
            <th>Odbiorcy</th>
          </tr>
          <tr *ngIf='!_sensorForm.alerts'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor='let alert of _sensorForm.alerts; let i=index'>
            <td><div contenteditable [(contenteditabledirective)]="alert.name" (onEnterEvent)='updateSensorDetails()'
                     (input)="alert.name=$event.target.textContent"></div></td>
            <td><div contenteditable [(contenteditabledirective)]="alert.alert_type" (onEnterEvent)='updateSensorDetails()'
              (input)="alert.alert_type=$event.target.textContent"></div></td>
            <td><div contenteditable [(contenteditabledirective)]="alert.threshold" (onEnterEvent)='updateSensorDetails()'
              (input)="alert.threshold=$event.target.textContent"></div></td>
            <td class='col-60 align-left'>
              <ng-container *ngFor="let receiver of alert.receivers_list; let j=index">
                <div class='receiver'><img src="./assets/cancel.svg" (click)="removeReceiver(_sensorForm.alerts, i, j)">{{receiver}}</div>
              </ng-container>
            </td>
            <td><a (click)='deleteAlert(alert._id)'>Usuń</a></td>
          </tr>
        </table>
        <div class='spacer-20'></div>
        <label>Nazwa alertu</label>
        <validated-input name="alert_name" [name]="'alert_name'" [placeholder]="'Nazwa alertu'" [(ngModel)]="_alert.name"></validated-input>
        <label>Typ alertu</label>
        <validated-select name="alert_type" [name]="'alert_type'" [options]="[{value: 'email', label: 'Powiadomienie email'},
        {value: 'sms', label: 'Powiadomienie SMS'}]" [(ngModel)]="_alert.type"></validated-select>
        <label>Wartość progowa <span *ngIf="_sensorForm.type === 'temperature'">[<sup>o</sup>C]</span><span *ngIf="_sensorForm.type === 'humidity'">[%]</span></label>
        <validated-input name="alert_threshold" type="number" [name]="'alert_threshold'" [placeholder]="'Wartość progowa'" [(ngModel)]="_alert.threshold"></validated-input>
        <label>Lista odbiorów</label>
        <div class='receivers-container'>
          <ng-container *ngFor="let receiver of _alert.receivers_list;let i=index">
            <div class='receiver'><img src="./assets/cancel.svg" (click)="removeReceiver([_alert], 0, i)">{{receiver}}</div>
          </ng-container>
        </div>
        <validated-select name="alert_receivers" [name]="'alert_receivers'" [options]='_alertOptions' 
        [placeholder]="'Wybierz odbiorcę'" (selected)="addReceiver($event)"></validated-select>
        <!--<validated-input name="alert_receivers" [name]="'alert_receivers'" [placeholder]="'Odbiorcy'" [(ngModel)]="_alert.receivers"></validated-input>-->
        <button class='button' (click)='addAlert()'>Dodaj alert</button>
      </div>
    </section>
</div>
</form>