.add-sensor-container {
    padding: 30px;
    width: calc(100% - 60px);
    display: grid;
    grid-template-rows: 450px auto;
    height: 550px;
    overflow: auto;
}

section {
    padding: 10px;
}

.add-sensor-form {
    margin-top: 20px;
    width: calc(100% - 100px);
    padding: 50px;
    background-color: #ffffff;
}

.add-sensor-form label {
    font-weight: 600;
    display: block;
    color: #82899A;
}

tr * div {
    cursor: text;
}

.delete {
    background: #FC517E;
    margin: 0;
}

.delete:hover {
    background: rgb(225, 73, 113);
}

.col-60 { width: 60%; }

.align-left { text-align: left !important; }

.receivers-container {
    padding: 10px 0px;
}

.receiver {
    width: max-content;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 2px 2px;
    background: #55ACEF;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    font-weight: 500;
}

.receiver img {width: 12px; height: 12px; padding-right: 10px; cursor: pointer; }