<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Wykresy
    </span>
    <span class='navigation-bar-agg'>
      <a routerLink='/app/charts'>Wykresy</a>
    </span>
</header>

<div class='chart-generator-container'>
  <section id="chart">
    <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Wykres</div>
    <div shadowed class='chart-placeholder' *ngIf='!_chartReady'>
        <div class='wrapper'><img src='/assets/not-found.svg' width="80px"></div>
        <div class='wrapper'>Nie dobrano danych</div>
        <div class='wrapper'><a (click)="scrollToData()" class='link-button'>Wybierz dane</a></div>
    </div>
    <div class='chart-content' *ngIf="_chartReady">
      <google-chart [data]='_data' #chart></google-chart>
    </div>
  </section>

  <section>
    <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Dane</div>
    <div class='data-parent'>
      <div shadowed [ngClass]="[(_focus === true) ? 'data-container-highlight' : '', 'data-container']" (click)='_focus=false' id="chart-data">
        <div class='form'>
          <div form-wrapper>
            <label>Typ czujnika</label>
            <validated-select name="type" [options]="_formOptions._type" [disabled]="_formOptions._typeDisabled" [(ngModel)]="_form.sensor_type" (selected)="filterSensors($event)"></validated-select>
          </div>
          <div form-wrapper>
            <label>Wybierz czujniki</label>
            <validated-select name="sensors" [options]="_formOptions._sensors.data" [disabled]="_formOptions._sensors.disabled" (selected)="addSensor($event)"></validated-select>
            <ng-container *ngFor="let sensor of _form.sensors; let j=index">
              <div class='sensor-box'><img src="./assets/cancel.svg" (click)="removeSensor(sensor._id)">{{sensor.name}}</div>
            </ng-container>
          </div>
          <div form-wrapper>
            <label>Zakres danych</label>
            <div class='calendar-wrapper'>
              <span>OD:</span>
              <my-date-picker name="mydate" [options]="_datepickerOptions" [(ngModel)]="_form._date.from" required (ngModelChange)='dateChanged()'></my-date-picker>
            </div>
            <div class='calendar-wrapper'>
              <span>DO:</span>
              <my-date-picker name="mydate" [options]="_datepickerOptions" [(ngModel)]="_form._date.to" required (ngModelChange)='dateChanged()'></my-date-picker>
            </div>
          </div>
          <div form-wrapper>
            <label class='error text-error'>{{_error}}</label>
          </div>
          <div form-wrapper>
              <button class='button' [disabled]="(_error.length === 0) ? false : true" (click)='generateChart()'>Generuj wykres</button>
          </div>
        </div>
      </div>

      <div shadowed class='data-table'>
        <div class='data-table-empty' *ngIf="_data.dataTable.length === 0">
          <div class='wrapper'><img src='/assets/not-found.svg' width="60px"></div>
          <div class='wrapper'>Brak danych</div>
        </div>
        <table *ngIf='_data.dataTable.length > 0'>
            <tr>
              <th *ngFor="let header of _data.dataTable[0]">{{header}}</th>
            </tr>
            <tr *ngFor="let arr of _data.dataTable;let i=index;">
              <ng-container *ngIf="i!==0"><td *ngFor="let data of arr">{{data}}</td></ng-container>
            </tr>
          </table>
      </div>
    </div>
  </section>
</div>