.chart-generator-container {
    height: calc(100vh - 124px);
    overflow: auto;
}

section {
    margin: 20px;
    width: calc(100% - 40px);
}

section div[shadowed] { box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); }

.chart-label { margin-top: 10px; margin-bottom: 5px; }

.data-parent { display: flex; }

.chart-placeholder {
    width: 100%;
    min-height: 500px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.data-container {
    width: 30%;
    padding-bottom: 30px;
    margin: 5px;
    box-sizing: border;
    background: #ffffff;
}

.data-container-highlight {
    box-shadow: 0px 0px 25px rgba(85, 172, 239, 0.9) !important;
}

.data-table {
    background: #ffffff;
    width: 70%;
    margin: 5px;
    max-height: 570px;
    overflow: auto;
    padding: 15px;
}

.data-container validated-select { width: 100% }

.form { padding: 40px; }

.form div[form-wrapper] { margin-bottom: 40px;}

.error { font-weight: 600 !important; }

.form label { display: block; font-size: 12px; letter-spacing: 1px; font-weight: 500; color: #82899A; }

.sensor-box {
    width: max-content;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 2px 2px;
    background: #55ACEF;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    font-weight: 500;
}

.sensor-box img {width: 12px; height: 12px; padding-right: 10px; cursor: pointer; }

.calendar-wrapper {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.calendar-wrapper span {font-weight: 500; padding: 0px 10px 0px 0px;}

.data-table-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-table-empty .wrapper {
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.chart-content { width: 100%; }