.alerts-list-container {
    width: calc(100% - 60px);
    height: 100%;
    padding: 30px;
  }

.alerts-list {
    max-height: 480px;
    overflow-x: auto;
    overflow-y: auto;
}

a {
    padding: 0px 10px;
}

.p-0 {padding: 10px 0px}

.p-10 {padding: 10px 5px}

.break {word-wrap: break-word; max-width: 200px;}