<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Lista alertów
    </span>
    <span>
      <a routerLink='/app/panel'>Panel</a>
      <span class='next-link'>></span>
      <a routerLink='/app/alerts-list'>Lista Alertów</a>
    </span>
</header>
<div class='alerts-list-container'>
  <div class='box-container'>
    <div class='label text-light-gray font-600 letter-spacing-1'>Alerty</div> 
      <div class='table-container'>
        <div class='alerts-list'>
        <table>
          <tr>
            <th>ID alertu</th>
            <th>Nazwa sensora</th>
            <th>Typ sensora</th>
            <th>Lokalizacja</th>
            <th class='p-10'>Nazwa alertu</th>
            <th class='p-10'>Wart. progowa</th>
            <th class='p-10'>Odwołany</th>
            <th>Data wystąpienia</th>
            <th>Lista odbiorców</th>
          </tr>
          <ng-container *ngIf="_alerts">
          <tr *ngFor="let alert of _alerts.data">
            <td>{{alert._id}}</td>
            <td>{{alert.sensor_id | sensoridtoname}}</td>
            <td>{{alert.sensor_type | sensortypename}}</td>
            <td>{{alert.localization}}</td>
            <td>{{alert.alert_name}}</td>
            <td>{{alert.threshold}}</td>
            <td>{{alert.cancelled | booleanformat}}</td>
            <td>{{alert.date | timestamptodate}}</td>
            <td class='break' title="{{alert.receivers_list}}">{{alert.receivers_list}}</td>
          </tr>
          </ng-container>
          <ng-container *ngIf="!_alerts">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-container>
        </table>
        </div>
      </div>
    </div>
</div>
