<div class='sensor-chart-container'>
  <header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Czujnik
    </span>
    <span *ngIf='_sensor'>
      <a routerLink='/app/panel'>Panel</a>
      <span class='next-link'>></span>
      <a routerLink='/app/sensors-list'>Lista czujników</a>
      <span class='next-link'>></span>
      <a routerLink="/app/sensors?sensor_id={{_sensor._id}}&type={{_sensor.type}}">Czujnik {{_sensor._id}}</a>
    </span>
  </header>
  <div class='chart-container' *ngIf='_ready'>
    <section>
      <div class='chart-info'>
        <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Statysyki urządzenia</div>
        <div class='chart-content'>
          <ng-container *ngIf='_sensorDataEmpty === false'>
            <div class='chart-settings'>
              <div class='calendar-container'>
                <span class='text-light-gray font-600 letter-spacing-1'>OD: </span>
                <my-date-picker name="mydate" [options]="_datepickerOptions"
                [(ngModel)]="_dateFrom" required (ngModelChange)='dateChanged($event)'></my-date-picker>
              </div>
              <div class='calendar-container'>
                  <span class='text-light-gray font-600 letter-spacing-1'>DO: </span>
                  <my-date-picker name="mydate" [options]="_datepickerOptions"
                  [(ngModel)]="_dateTo" required (ngModelChange)='dateChanged($event)'></my-date-picker>
              </div>
              <div class='slider-container'>
                  <nouislider [min]='_sliderMin' [max]='_sliderMax' [step]='_sliderStep' [disabled]='_sliderDisabled' [config]="_sliderConfig" [(ngModel)]="_sliderRange" (ngModelChange)='changeTimeRange($event)'></nouislider>
              </div>
            </div>
            <google-chart [data]='_data' #chart></google-chart>
          </ng-container>
          <ng-container *ngIf='_sensorDataEmpty === true'>
            <div class='data-empty-placeholder text-subtitle'><img src='/assets/not-found.svg' width="80px"><span>Brak danych dla czujnika</span></div>
          </ng-container>
        </div>
      </div>
    </section>
    <section>
      <div class='column-details'>
          <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Informacje o urządzeniu</div>
          <ul>
            <li><span>ID bazy: </span>{{_sensor._id}}</li>
            <li><span>Nazwa sensora: </span>{{_sensor.name}}</li>
            <li><span>Typ sensora: </span>{{_sensor.type}}</li>
            <li><span>Lokalizacja sensora: </span>{{_sensor.localization}}</li>
            <li><span>Aktywny od: </span>{{_sensor.active_since | timestamptodate}}</li>
            <li><span>Ostatnia aktualizacja: </span>{{_sensor.lastmodified | timestamptodate}}</li>
            <li><a class='button w-100' (click)='saveLiveData()'>Podgląd na bieżąco</a></li>
          </ul>
      </div>
      <div class='column-details'>
          <div class='text-light-gray font-600 letter-spacing-1 chart-label'>Status urządzenia</div>
          <div class='sensor-status'>
            <span *ngIf='_sensor.active === true' class='active'>AKTYWNY</span>
            <span *ngIf='_sensor.active === false' class='inactive'>NIEAKTYWNY</span>
            <img [src]="(_sensor.active === true) ? 'assets/reuse.svg' : 'assets/stopped.svg'">
          </div>
      </div>
    </section>
  </div>
  <div *ngIf='!_ready' class='chart-container'>
    <section>
      <div class='chart-placeholder'>
          <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
      </div>
    </section>
    <section>
      <div class='details-placeholder'></div>
      <div class='details-placeholder'></div>
    </section>
  </div>
</div>
