.sensor-chart-container {
    width: 100%;
    height: 100%;   
}

.sensor-details {
    display: block;
}

.span-title{
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding: 10px 0px;
}

.w-100 {
    width: 100%;
}

.data-empty-placeholder {
    width: 100%;
    height: 450px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.active-icon {
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #91e652;
  }

.chart-placeholder {
    width: 98%;
    height: 500px;
    background-color: #F8F9FB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-placeholder {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    background-color: #F8F9FB;
}

.chart-container {
    padding: 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 80% auto;
}

.chart-content {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.chart-settings {
    display: flex;
    padding: 20px;
}

.calendar-container {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.slider-container{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    width: 500px;
}

.chart-info {
    width: 100%;
}

.chart-label {
    padding-bottom: 10px;
}

.chart-container-empty {
    width: 90%;
    height: 200px;
    margin-top: 100px;
    background-color: #e2e2e2;
    margin: auto;
}

.column-details {
    width: calc(100% - 20px);
    padding-left: 20px;
    margin-bottom: 40px;
}

.column-details ul {
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.column-details li {
    width: calc(100% - 40px);
    height: 40px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    color: #82899A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    border-bottom: 1px solid #F4F6F9;
}

.column-details li span {
    font-weight: 600;
    max-width: 70px;
    word-wrap: break-word;
    text-align: left;
}

.sensor-status {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sensor-status span {
    font-size: 18px;
    font-weight: 600;
    padding-right: 20px;
}

.active {
    color: #55ACEF;
}

.inactive {
    color: #FA6A5D;
}

.sensor-status img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    height: auto;
}

.noUi-connect {
	background: #337ab7;
}