.popup {
    position: absolute;
    z-index: 100 !important;
    width: 400px;
    height: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);
    animation: show 200ms ease;
    cursor: pointer;
}

@keyframes show {
    from {transform: scale(0)}
    to {transform: none}
}

.popup-icon{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-icon img {
    width: 70;
    height: 70px;
}

.popup-message {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #707175;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 20%;
    margin: auto;
    padding-bottom: 20px;
}

.popup-buttons .button {
    padding: 5px 20px;
}

.popup-buttons .accept {
    color: #ffffff
}

.popup-buttons .accept:hover {
    background-color: rgb(211, 88, 79);
}

.popup-buttons .reject {
    color: #ffffff
}

.popup-buttons .reject:hover {
    background-color: rgb(58, 131, 182);
}
