<div class='popup' *ngIf='_popup' (click)='hidePopup()'>
  <div class='popup-icon'>
    <ng-container [ngSwitch]='_popup.type'>
      <img *ngSwitchCase='0' src='/assets/ok-cloud.svg'>
      <img *ngSwitchCase='1' src='/assets/warning.svg'>
      <img *ngSwitchCase='2' src='/assets/error.svg'>
      <img *ngSwitchCase='3' src='/assets/block.svg'>
    </ng-container>
  </div>
  <div class='popup-message'>{{_popup.message}}</div>
  <div class='popup-buttons' *ngIf="_popup.type === 3 || _popup.type === 1">
      <div class='button accept' (click)='accept()'>TAK</div>
      <div class='button reject' (click)='reject()'>NIE</div>
  </div>
</div>