.login-background{
    width: 100%;
    height: 100%;
    background-color: #EDF0F5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    width: 400px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}

.login-window-container{
    width: 400px;
    height: 450px;
}

.input-container {
    margin-top: 40px;
    padding: 40px 30px;
    width: calc(100% - 60px);
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.1);
}

.input-container label {
    color: #82899A;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.input-container input {
    color: #B2B3B3;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    background-color: transparent;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 20px;
    height: 30px;
    width: 100%;
    transition: all 300ms ease;
}

.input-container input:-moz-placeholder {
    color: rgb(228, 228, 228);
}

.input-container input::-webkit-input-placeholder {
    color: rgb(228, 228, 228);
}

.input-container input:-ms-input-placeholder {
    color: rgb(228, 228, 228);
}

.input-container .login-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    outline: none;
    user-select: none;
    background-color: #75B9F1;
    font-weight: 600;
    font-size: 12px;
    color: white;
    transition: all 200ms ease-out;
}

.input-container .login-button:hover {
    background-color: rgb(72, 149, 204);
}

.input-container .login-button:active {
    box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
  }