<div class='login-background'>
  <div class='login-window-container'>
    <div class='title text-subtitle'>ZALOGUJ SIĘ</div>
    <div>
      <div class='input-container' (keydown.enter)="submitLogin()">
        <label>Adres e-mail</label>
        <validated-input [placeholder]="'E-mail'" [name]="'email'" [(ngModel)]="_user.email"></validated-input>
        <label>Hasło</label>
        <validated-input [placeholder]="'Password'" [name]="'password'" type="password" [(ngModel)]="_user.password"></validated-input>
        <div class='login-button' (click)='submitLogin()'>LOGIN</div>
      </div>
    </div>
  </div>
</div>