<header class='navigation-bar'>
    <span class='font-600 letter-spacing-1 text-light-gray'>
        Lista użytkowników
    </span>
    <span>
      <a routerLink='/app/panel'>Panel</a>
      <span class='next-link'>></span>
      <a routerLink='/app/users-list'>Lista użytkowników</a>
    </span>
</header>
<div class='users-list-container'>
  <div class='box-container'>
    <div class='label text-light-gray font-600 letter-spacing-1'>Użytkownicy</div> 
      <div class='table-container'>
        <button class='button' [routerLink]="['/app/users-list/manage', 'add']"
         *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT'">Dodaj użytkownika</button>
        <div class='users-list'>
        <table>
          <tr>
            <th>Email</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data utworzenia</th>
            <th>Ostatnie logowanie</th>
            <th>Rola</th>
            <th>Aktywny</th>
            <th *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT'">Zarządzaj</th>
          </tr>
          <ng-container *ngIf="_users">
          <tr *ngFor="let user of _users">
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.created | timestamptodate}}</td>
            <td>{{user.lastLogin | timestamptodate}}</td>
            <td>{{user.role | userrole}}</td>
            <td><div class='activity-wrapper'><div [ngClass]="[(user.active === true) ? 'icon-active' : 'icon-inactive', 'activity-icon']"></div></div></td>
            <td *ngIf="_role === 'ROLE_ADMIN' || _role === 'ROLE_ROOT'">
              <a (click)='editUser(user._id)'>Edytuj</a>
              <a (click)='blockUser(user._id)' *ngIf='user.active === true'>Blokuj</a>
              <a (click)='unblockUser(user._id)' *ngIf='user.active === false'>Odblokuj</a>
            </td>
          </tr>
          </ng-container>
          <ng-container *ngIf="!_users">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-container>
        </table>
        </div>
      </div>
    </div>
</div>
