.users-list-container {
    width: calc(100% - 60px);
    height: 100%;
    padding: 30px;
  }

.users-list {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    padding: 0px 10px;
}